<section class="city-forcasts">
    <h3 class="city-name">{{forcasts.city}}</h3>
    <ul class="forcasts-container">
        <li class="forcast-container" *ngFor="let forcast of forcasts.DailyForecasts">
            <h3>{{forcast.Date | date: 'EE dd.MM.yy'}}</h3>
            <h4>{{forcast.Day.IconPhrase}}</h4>
            <h4>Night: {{forcast.Night.IconPhrase}}</h4>
            <h4>{{forcast.Temperature.Minimum.Value}}&#8457; - {{forcast.Temperature.Maximum.Value}}&#8457;</h4>
            <a href={{forcast.Link}}>Read More</a>
        </li>
    </ul>
</section>