@import '../../../assets/style/setup/variables';

.city-forcasts {
    display: flex;
    flex-direction: column;
    width: 100%;
    .city-name {
        align-self: flex-start;
        margin-bottom: 20px;
    }
    .forcasts-container {
        display: flex;
        width: 100%;
        height:auto;
        gap: 20px;
        @media screen and (max-width:890px) {
            overflow-x: scroll;
        }
        .forcast-container {
            background-color: $elColor;
            border-radius: 15px;
            height: 180px;
            width: 180px;
            padding: 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: 1050px) {
                min-width: 150px 
            }
        }
    }
}