@import '../../../assets/style/setup/variables';

.city-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    label {
        background-color: $elColor;
        display: flex;
        padding: 5px 5px 5px 16px;
        border-radius: 15px;
        input {
            height: 25px;
        }
        img {
            width: 25px;
            &:hover {
                cursor: pointer;
            }
        }
        
    }
    .city-suggs-list {
        position:relative;
        margin-top: 2px;
        z-index: 5;
        width: 200px;
        .city-sugg {
            padding: 2px 0;
            background-color: silver;
            border: 1px solid black;
            text-align: center;
            &:hover {
                cursor: pointer;
                background-color: gray;
            }
        }
    }
}